<%- include('./fragments/head') %> <%- include('./fragments/header') %>
<script src="/js/directory.js" defer></script>
<h3>Directory</h3>
<button id="createFolderPop" data-folderid="<%=folderDetails.id%>">Create Folder</button>
<button id="uploadFilePop">Upload File</button>
<table id="directoryTable">
  <tr>
    <th><%=path%></th>
  </tr>

  <tr>
    <td>
      <% if (locals.folderDetails && folderDetails.parentFolderId){
      %>
      <a href="<%=`?folderId=${folderDetails.parentFolderId}`%>">..</a>
      <%}%>
    </td>
  </tr>
    <% if (locals.childFolders){
    for (let childFolder of childFolders){
    %>
  <tr>
    <td>

      <a href="<%= `?folderId=${childFolder.id}`%>"><%=childFolder.name%></a>
    </td>
    <td> <button class="renameFolderPop" data-folderid="<%=childFolder.id%>">Rename Folder</button></td>


  </tr>
  <%}} %>


  <% if (locals.files){
    for (let file of files){%>
  <tr>
    <td>
      <a href="downloadFile?=<%=file.id%>"><%=file.name%></a>
    </td>
    <td>
      <button class="deleteFilePop" data-fileid="<%=file.id%>">Delete File</button>
    </td>
  </tr>


  <%}} %>
</table>
<dialog id="dialog">
<!--<dialog id="folderDialog">-->
  <form action="" data-folderid="" method="post" id="folderForm">
    <label for="folderName">Folder Name</label>
    <input type="text" name="folderName" id="folderName" required>
    <p id="folderError"></p>
    <button type="submit" id="submit">Submit</button>
    <button type="button" id="cancelFolderDialog">Cancel</button>
  </form>
<!--</dialog>
<dialog id="fileDialog">-->
  <form action="uploadFile?folderId=<%=folderDetails.id%>" method="post" enctype="multipart/form-data" id="fileForm">
    <label for="fileUpload">File Upload</label>
    <input type="file" name="fileUpload" id="fileUpload" required>
    <button type="submit" id="submit">Submit</button>
    <button type="button" id="cancelFileDialog">Cancel</button>
  </form>
<!--</dialog>
<dialog id="confirmDialog">-->
  <form action="" data-fileId="" method="" post id="confirmForm">
    <p id="confirmationText"></p>
    <button type="submit">Confirm</button>
    <button type="button" id="cancelConfirmDialog">Cancel</button>
  </form>
</dialog>
<%- include('./fragments/footer') %>