<%- include('./fragments/head') %> <%- include('./fragments/header') %>
<script src="/js/files.js" defer></script>
<h3>Files</h3>
<button id="createFolderPop">Create Folder</button>
<button id="uploadFilePop">Upload File</button>
<table>
  <tr>
    <th><%=path%></th>
  </tr>

  <tr>
    <td>
      <% if (locals.folderDetails && folderDetails.parentFolderId){
      %>
      <a href="<%=`?folderId=${folderDetails.parentFolderId}`%>">..</a>
      <%}%>
    </td>
  </tr>
    <% if (locals.childFolders){
    for (let childFolder of childFolders){
    %>
  <tr>
    <td>

      <a href="<%= `?folderId=${childFolder.id}`%>"><%=childFolder.name%></a>
    </td>
  </tr>
  <%}} %>


  <% if (locals.files){
    for (let file of files){%>
  <tr>
    <td><a href="downloadFile?=<%=file.id%>"><%=file.name%></a> </td>
  </tr>


  <%}} %>
</table>
<dialog id="createFolderDialog">
  <form action="createFolder?folderId=<%=folderDetails.id%>" data-folderid="<%=folderDetails.id%>" method="post" id="createFolderForm">
    <label for="folderName">Folder Name</label>
    <input type="text" name="folderName" id="folderName" required>
    <p id="createFolderError"></p>
    <button type="submit" id="submit">Submit</button>
    <button type="button" id="cancelCreateFolder">Cancel</button>
  </form>
</dialog>
<dialog id="uploadFileDialog">
  <form action="uploadFile?folderId=<%=folderDetails.id%>" method="post" enctype="multipart/form-data">
    <label for="fileUpload">File Upload</label>
    <input type="file" name="fileUpload" id="fileUpload" required>
    <button type="submit" id="submit">Submit</button>
    <button type="button" id="cancelFileUpload">Cancel</button>
    </form>
  </dialog>
<%- include('./fragments/footer') %>